<!-- Background image -->
<div class="center" style="
  background-image: url('https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  height: 800px;
  width: 1880px;
  justify-content: center;
  ">

  <div class="mask" style="
  background-color: rgba(0, 0, 0, 0.6); 
  height: 800px;
  justify-content: center;
  ">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1>Welcome to OneSource Delivery!</h1>
        <h5>Enter Your Zip Code To Check Availability</h5>
        <form action="/login" method="post">
          <div class="form-group">
            <label for="zipcode" style="margin-right:10px;">Zip Code:</label>
            <input type="number" name="zipcode" id="zipcode" placeholder="00000" class="form-control" style="width: 110px;"
              [(ngModel)]="zipcode" required>
          </div>
        </form>
        <button (click)='checkZipCode()' class="btn btn-primary" style="margin-bottom: 10px; width: 110px;">Check</button>
        <br />
        <div [innerHTML]="errorMessage"></div>
        <br />
      </div>
    </div>
  </div>
</div>